/* ---------- General Styles ---------- */
body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header_of_shop {

    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #c5aa6a;

    height: 100px;


}

.header_of_shop .logo {
    font-size: 35px;
    color: #000;
    padding-left: 30px;
    padding-top: 20px;
    float: left;
    line-height: 24px;
}

.header_of_shop nav {
    float: right;
    line-height: 40px;
}

nav ul li {
    display: inline-block;
    margin: 18px;
    padding: 4px;
    border-radius: 10px;
}

nav ul li a {
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 15px;
}

.active a {
    background-color: rgb(171, 171, 172);
    color: rgb(29, 19, 19);
}

nav ul li a:hover {
    background-color: lightgray;
    color: rgb(0, 0, 0);
}

.header_of_shop #menu-toggle {
    display: none;
}

.header_of_shop .burger_icon {
    font-size: 25px;
    float: right;
    padding-top: 34px;
    padding-right: 40px;
    display: none;
    cursor: pointer;
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 89vh;
    position: relative;


}

.hero img {
    height: 100%;
    width: 100%;
    margin-top: -30px;
}

.title {
    position: absolute;
    top: 180px;
}

.title h1 {
    font-size: 60px;
    color: red;
}

.title button {
    padding: 20px;

    width: 150px;

    border-radius: 10px;
    background-color: rgb(224, 173, 22);
    color: black;
    border: none;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}


.title button:hover {
    background-color: lightgray;
    color: rgb(0, 0, 0);
}

.title button a {
    text-decoration: none;
}

/* About Section */
#about {
    padding: 10px;

    background-color: lightblue;
    text-align: center;
    padding-top: 100px;
}


.about_shop {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.about_shop img {
    width: 450px;
}

.about_shop p {
    text-align: justify;
    font-size: 18px;
    padding-left: 10px;
    width: 300px;
    border-left: 1px solid black;
    margin-left: 10px;
}

/* Menu Section */
.menu_section {
    padding: 80px 30px 20px 20px;
    text-align: center;
}

.menu_section h2 {
    color: rgb(0, 0, 0);
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px 30px;
    
}

.card {
    height: auto;
    width: 350px;
    box-shadow: 4px 3px 5px rgb(241, 215, 134);
    transition: 0.3s;
    text-align: left;
}

.card:hover {
    transform: translateY(-20px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

.card img {
    height: 160px;
    width: 100%;
}

.card h3 {
    color: red;
    padding-left: 10px;
    font-size: 23px;
}

.card span,
p {
    color: rgb(0, 0, 0);
    font-size: 15px;
    margin: 10px;
    display: block;
}

/* Footer */
footer {
    background-color: rgb(5, 4, 4);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

footer h2 {
    color: white;
    padding-top: 12px;
    font-weight: bold;
}

.contect_part {
    display: flex;
    justify-content: center;
}

.contect_part p {
    color: white;
}

.general_contect {
    text-align: justify;
}

.general_contect p {
    color: lightsalmon;
}

.social_media_icon {
    padding-top: 30px;
    margin-left: 15px;
}

.social_media_icon i {
    display: inline;
    font-size: 12px;
    border: 1px solid rgb(180, 178, 178);
    padding: 8px;
    background-color: white;
    color: black;
    border-radius: 50%;
}

.copyright {
    color: white;
    font-size: 12px;
    padding-bottom: 10px;
}

/* ---------- Responsive Styles ---------- */
@media (max-width:1126px) {
    .header_of_shop .logo {
        font-size: 25px;
        padding-left: 30px;
    }

    nav ul li {
        margin: 8px;
        padding: 8px;
    }


    .menu {
        grid-template-columns: 1fr 1fr;
    }

    .card {
        width: 95%;
    }


}

@media (max-width: 826px) {
    .header_of_shop .logo {
        font-size: 25px;
        padding-left: 20px;
    }

    /* Nav Menu Hidden */
    nav ul {
        position: fixed;
        top: 80px;
        left: -120%;
        width: 100%;
        height: 100vh;
        background: green;
        transition: 0.5s;
        text-align: center;
    }

    /* Show menu when checked */
    #menu-toggle:checked~nav ul {
        left: 0;
    }

    

    /* Show burger icon */
    .header_of_shop .burger_icon {
        display: block;
        cursor: pointer;
        font-size: 30px;
    }

    nav ul li {
        display: block;
        text-align: center;
        padding: 15px 0;
    }

    .title h1 {
        font-size: 35px;

    }

    .about_shop {
        display: block;
        padding-left: 2px;
        width: 100%;
    }

    .about_shop img {
        width: 90%;
    }

    .about_shop p {
        width: 90%;
        border: none;
        font-size: 18px;
        padding-left: 0;
    }

    .menu {
        grid-template-columns: 1fr;
    }

    .card {
        margin-left: 40px;
        width: 80%;
    }

    .contect_part {
        flex-direction: column;
    }

    /* ---------- Burger icon toggle to cross ---------- */

    .burger_icon i.fa-xmark {
        display: none;
    }

    #menu-toggle:checked+.burger_icon i.fa-bars {
        display: none;
    }

    #menu-toggle:checked+.burger_icon i.fa-xmark {
        display: inline;
    }
}